body{
    margin: 0;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
               "sidebar header"
               "sidebar main";
}

.sidebar {
    grid-area: sidebar;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.header {
    grid-area: header;
    background-color: rgb(73, 73, 73);
    color: white;
     text-transform: uppercase;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 20px 0 0 20px;
    grid-area: main;
    background-color: rgb(255, 216, 169);
}

.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 0.5fr 2fr 1fr;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: 
               "title title"
               "total transaction"
               "wallet transaction"
               "wallet transfer"
               "statistics transfer"
               "statistics transfer";
}

.title {
    grid-area: title;
    background-color: lightblue;
}

.total-info {
    grid-area: total;
    background-color: lightcoral;
}

.transaction {
    grid-area: transaction;
    background-color: lightgreen;
}
.wallet {
    grid-area: wallet;
    background-color: lightsalmon;
}

.statistics {
    grid-area: statistics;
    background-color: lightseagreen;
}

.transfer {
    grid-area: transfer;
    background-color: lightslategrey;
}