body{
    margin: 0;
    overflow: hidden;
}

.container {
    height: 100vh;
    height: 100vw;
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
              "sidebar header"
              "sidebar main";
}
.sidebar {
    grid-area: sidebar;
    background-color: black;
}
.header {
    grid-area: header;
    background-color: brown;
}
.main {
    grid-area: main;
    background-color: burlywood;
}