body {
    margin: 0;
    background-color: rgb(255, 220, 178);
}

.container {
    margin: 80px auto 50px;
    max-width: 400px;
}

.label {
    margin: 0 0 0.2em;
    display: block;
    font-size: 1.4rem;
}

.btn-tip {
    background: none;
    border: none;
    cursor: pointer;
}

.input-text {
    width: 100%;
    font-size: 1.1rem;
    padding: 0.4em;
    border-radius: 5px;
}

.tip {
    width: 150px;
    background-color: white;
    padding: 0.4em;
    position-try-fallbacks: flip-inline flip-block;
    border-radius: 6px;
    box-shadow: 2px 2px 5px 0 black;
    border: none;
    outline: none;
    inset: unset;
    top: anchor(bottom);
    left: anchor(right);
}

.tip::backdrop {
    backdrop-filter: blur(3px) brightness(60%);
}

.close-btn {
    cursor: pointer;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-weight: 700;
}

.star {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    background-color: rgb(187, 22, 137);
    clip-path: polygon(50% 0%,61% 35%,98% 35%,68% 57%,79% 91%,50% 70%,21% 91%,32% 57%,2% 35%,39% 35%);
    transition: 1s background-color, 1s scale;
}

.star:hover{
    background-color: cornflowerblue;
    scale: 80%;
}

.mediaplayer {
    padding: 30px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}