body{
  margin: 0;
  background-color: burlywood;
}

.form{
   margin: 80px auto;
   max-width: 400px;
}

.label {
    display: block;
    margin: 5px 0;
    font-size: 1.4rem;
    font-weight: 800;
    
}

.menu-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.textInput {
    width: 100%;
    border-radius: 8px;
    font-size: 1.1rem;
    padding: 0.3em;
}

.tip {
    position-anchor: auto; 
    width: 150px;
    padding: 0.5em;
    position-try-fallbacks: flip-inline, flip-block;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.836);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.705);
    border: none;
    inset: unset;
    top: anchor(bottom);
    left: anchor(right); 
    
}

.tip::backdrop{
    backdrop-filter: blur(3px) brightness(60%);
}

.close{
    border-radius: 50%;
    background-color: blue;
    color: white;
    font-weight: 600;
}

.close:hover{
    background-color: red;
    cursor: pointer;
}

.star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    width: 250px;
    height: 250px;
    background-color: crimson;
    margin: 0 auto;
    transition: 1s background-color, 1s scale;
}

.star:hover{
    scale: 1.2;
    background-color: blue;
}